.starships-main {
    padding-top: 150px;
    padding-bottom: 220px;
}

.starships-main__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
    color: #E2F063;
}

.starships-main__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
}

.starships-main__item {
    margin-bottom: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform .5s linear;
}

.starships-main__item:hover {
    transform: scale(1.05);
    transition: transform .75s linear;
}

.starships-main__item:not(:nth-child(3n)) {
    margin-right: 72px;
}

.starships-main__item:nth-child(n+7):nth-child(-n+8) {
    margin-bottom: 0;
}

.starships-main__link {
    display: block;
    width: 100%;
    height: 100%;
}

.starships-card {
    padding: 19px 19px 30px 19px;
}

.starships-card__image {
    margin-bottom: 30px;
}

.starship-card__item {
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: 400;
    font-size: 23px;
    line-height: 140%;
    color: #1E1E1E;
}

.name-value, .cost-value {
    font-weight: 500;
    font-size: 27px;
    line-height: 140%;
    color: #1E1E1E;
}